
// couleur 
$blue_light:#106de0;
$blue_light2 : #1b88e3;
$blue_dark : #34384e;
$blue_dark2 : #082236;
$white : #ffffff;
$blue_punchy: #47b3ac;
$grey_background: #eeecec;

// font
$main_font : "Open Sans",sans-serif;

//box-shadow
$box-shadow_grey_light : 0px 0px 10px rgb(179, 178, 178); 
$box-shadow_grey_dark : 5px 2px 30px rgb(151, 150, 150);
$box-shadow_dark : 10px 20px 10px rgb(26, 26, 31);
$box-shadow_dark2 : 5px 10px 10px rgb(8, 8, 10);
$box-shadow_punchy: 30px 30px $blue_punchy;